header {
    & div:nth-child(1) {
        cursor: pointer;
        margin-bottom: 2.4rem;
    }

    h2 {
        margin-bottom: 0.8rem;
    }
}

fieldset {
    border: none;
}

fieldset > legend {
    font: var(--text-xl);
}