#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
    
    main,
    aside {
        padding: 6.4rem;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    main {
        #flexible-main {
            max-width: 52.8rem;
            margin-left: auto;
        }
    }

    aside {
        background-color: var(--surface-secondary);
        
        #fixed-aside {
            max-width: 49.6rem;

            display: flex;
            flex-direction: column;
            gap: 3.2rem;
        
            header h1 {
                margin-block: 0.8rem;
            } 
        }
    }
}